.contact-root {
    padding: 1%;
    min-height: 100vh;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.contact-root-mobile {
    padding-top: 3%;
    /* min-height: 100vh; */
    /* display: flex; */
    padding-left: 10%;
    padding-right: 10%;
}

.contact-left {
    /* background-color: green; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-right {
    /* background-color: greenyellow; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contact-form {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: yellow; */
    opacity: 1 !important;
    margin: auto;
}

.contact-form-location-base {
    /* background-color: mistyrose; */
    padding: 1%;
    width: 100% !important;
    height: 350px !important;
}

.contact-form-location {
    margin: auto;
    /* padding-top: 5% !important; */
    /* background-color: mistyrose; */
    /* padding: 1%; */
    box-shadow: 2px 2px 10px gray;
    width: 35.4% !important;
    height: 350px !important;
}

.contact-form-location-base-mobile {
    /* background-color: mistyrose; */
    padding: 1%;
    width: 100% !important;
    height: 350px !important;
}

.contact-form-location-mobile {
    margin: auto;
    /* padding-top: 5% !important; */
    /* background-color: mistyrose; */
    /* padding: 1%; */
    box-shadow: 2px 2px 10px gray;
    width: 80% !important;
    height: 350px !important;
}

.contact-form-body {
    /* background-color: blueviolet; */
    display: flex;
}
.contact-form-body-mobile {
    /* background-color: blueviolet; */
    /* display: flex; */
    width: 100vw;
}

.contact-form-body-left {
    /* background-color: cadetblue; */
    display: flex;
    width: 100%;
    padding: 1%;
    display: inline-block;
    /* vertical-align: top; */
}

.contact-form-body-left-info {
    margin: auto;
    /* position: fixed; */
    /* top: 0 !important; */
    /* background-color: greenyellow; */
    display: inline-block;
    vertical-align: top;
    width: 33%;
        height: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
}

.contact-form-body-right {
    background-color: deepskyblue;
    width: 100%;
    padding: 1%;
    /* z-index: -1; */
}

.contact-form-body-names {
    display: flex;
    /* background-color: grey; */
    width: 100%;
    /* background-color: yellow; */
}


.contact-form-btn-base {
    /* background-color: navy; */
    padding: 1%;
    text-align: center;
}

.contact-form-btn {
    /* background-color: navy; */
    padding: 1%;
    width: 50%;
    /* text-align: center; */
}

.contact-form-input {
    box-shadow: 1px 1px 2px black;
    background-color: white;
    margin-bottom: 1% !important;
    
}