.picture-table-cell {
    padding: 1%;
    width: 20vw;
    /* height: 20vh; */
    /* background-color: darksalmon; */
}

.media-create-base {
    background-color: whitesmoke;
    width: 75%;
    margin: auto;
    padding: 2%;
    box-shadow: 1px 1px 10px black;
}

.media-create-form {
    /* background-color: red; */
    width: 70%;
    padding: 1%;
    margin: auto;

}