.ewingsnav__root {
  background-color: #f2f2f2;
  height: 8vh;
  position: sticky !important;
  top: 0;
  display: flex;
  justify-content: center;
  /* width: 100%; */
  justify-content: space-between !important;
}
.bmcnav__space {
  width: 72px !important;
}
.bmcnav__logo {
  /* background-color: darkgoldenrod; */
  max-height: 5.5vh;
  /* min-height: 5vh !important; */
}

.ewingsnav__bmc__logo {
  max-height: 6vh;
}
.ewingsnav__logo--mob {
  /* background-color: blueviolet !important; */
  max-height: 100%;
width: 100%;
/* background-color: blue; */
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  /* max-height: 8vh; */
}
.ewingsnav__divider {
  margin-left: 72px !important;
  margin-right: 42px !important;
  width: 1px !important;
  height: 60%;
  background-color: #4694d6 !important;
}
.bmcnav__left--mob {
  display: flex;
  /* min-width: 65%;
  max-width: 65%; */
  height: 100% !important;
  /* background-color: yellow !important; */
  /* overflow-x: hidden; */
  /* font-size: 100% !important; */
  font: inherit !important;
}
.bmcnav__btn {
  /* background-color: crimson !important; */
  /* min-width: 144px !important; */
  /* height: 100%; */

  font-family: "bukra-bold" !important;
}
.ewingsnav__btn--size {
  font-size: 16px !important;
  color: black !important;
}
.bmcnav__dropdown__item {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "bukra-regular" !important;
}
.bmcnav__dropdown__item--nested {
  /* width: 90%; */
  margin-left: 10px;
  margin-bottom: -0.5px;
  /* text-align: center; */
  /* margin: auto !important; */
  /* background-color: violet !important; */
}
.dropdown-toggle::after {
  content: none !important;
}
.dropdown__menu {
  /* background-color: yellow !important; */
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.dropdown__fadeOut{
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);

    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translate(0%, -30%);
    opacity: 0;
    z-index: -5500 !important;
  }
  50%{
    /* transform: translateX(-50%); */
    opacity: 0;
  }
  100% {
    transform: translate(100%, -30%);
    z-index: -5500 !important;

    opacity: 1;
  }
}
.bmcnav__dropdown__menu--nested {
  /* position: relative !important; */
  /* background-color: turquoise !important; */
  transform: translate(100%, -30%);
  -webkit-animation: slideLeft 0.5s;
  /* z-index: -999 !important; */
  animation: slideLeft 0.5s !important;
}

@media screen and (max-width: 1300px) {
  .bmcnav__btn--size {
    font-size: 14px !important;
  }
}

@font-face {
  font-family: "bukra-bold";
  src: local("bukra-bold"),
    url(../../../fonts/bukra-bold.OTF) format("truetype");
}
@font-face {
  font-family: "bukra-regular";
  src: local("bukra-regular"),
    url(../../../fonts/bukra-regular.OTF) format("truetype");
}

