.ewings-service-page-root {
    background-color: #4694D6;
    /* padding-left: 7%; */
    /* padding-right: 7%; */
    display: flex;
    height: 115vh;
}

.ewings-service-page-root-ios {
    background-color: #4694D6;
    padding-left: 7%;
    /* padding-right: 7%; */
    display: flex;
    height: 115vh;
    padding-top: 22px;
    padding-bottom: 44px;
}

.service-page-left {
    /* background-color: magenta; */
    width: 60%;
    overflow-y: scroll;
    padding: 1%;
}
.ewings-service-page-left {
    /* background-color: magenta; */
    width: 40%;
    overflow-y: scroll;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ewings-service-page-mob {
    /* background-color: magenta; */
    /* width: 90%; */
    overflow-y: scroll;
    /* padding: 2%; */
    /* padding-right: 6%; */
    text-align: left;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.service-page-right {
    /* background-color: dodgerblue; */
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.ewings-service-page-right {
    /* background-color: dodgerblue; */
    /* margin-left: 15% ; */
    width: 60%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.service-page-title-details {
    /* background-color: maroon; */
    display: flex;
}

.service-details-icon {
    height: 175px;
    width: 175px;

    margin-right: 30px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(49, 48, 48);
    padding: 1%;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.service-details-icon-mobile {
    height: 120px;
    width: 120px;

    margin-right: 30px;
    border-radius: 100%;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(49, 48, 48);
    padding: 1%;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.service-details-name {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service-page-img-base {
    
    /* background-color: gold; */
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.service-page-img {
    /* background-color: gold; */
    height: 100%;
    object-fit: cover;
}

.ewings-service-body {
    background-color: snow;
    /* height: 100%; */
    /* margin-top: 15%; */
}

.ewings-service-page-content {
    /* background-color: snow; */
    width: 90%;
    height: 80%;
    margin: auto;
    padding: 3%;
}

.ewings-service-img-base-mobile {
    /* background-color: blue; */
    /* width: 50%; */
    height: 300px !important;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding: 2%; */
    background-color: rebeccapurple;
}

.ewings-service-img {
    width: 100%;
    /* max-height: 100vh; */
    /* margin: auto; */
    object-fit: cover;
}