.gallery-root {
    background-color: #4694D6;
    /* min-height: 100vh; */
    padding-top: 3%;
    padding-bottom: 3%;

}

.gallery-title {
    padding: 2%;
    text-align: center;

}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


.gallery-body {
    display: flex;
    /* background-color: crimson; */
    justify-content: center;
    /* text-align: center; */
}

.gallery-body-pictures {
    /* background-color: crimson; */
    width: 70%;
    /* padding: 2%; */
    padding-left: 2%;
    /* padding-top:5%; */
    /* padding-bottom:5%; */
    padding-right: 2%;
    text-align: center;
    /* display: flex; */
    justify-content: center;
}

.gallery-body-albums {
    padding: 1%;
    background-color: whitesmoke;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

}
.gallery-album {
    display: flex;
    background-color: silver;
    border-radius: 20px;
    margin: 3%;
    padding: 3%;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;

}

.gallery-checkbox {
    /* background-color: yellow; */
    width: 20%;
    /* padding-left: 1%; */
    margin-left: 2%;
    margin-right: 4%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gallery-picture-base {
    margin: auto;
    display: inline-block;
    /* width: 1000px; */
    /* max-width: 160px; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding: 4%;
}
.gallery-picture-base-mob {
    margin: auto;
    display: inline-block;
    width: 100%;
    /* max-width: 160px; */
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    padding: 4%;
}

.gallery-picture{
    /* padding: 3%; */
    max-width: 350px;
    box-shadow: 2px 2px 10px black;
    transition: transform .2s;
}

.gallery-picture-mob{
    /* padding: 3%; */
    max-width: 100%;
    box-shadow: 2px 2px 10px black;
    transition: transform .2s;
}

.gallery-picture:hover {
    transform: scale(2);
}