.digital-root {
  background-color: lightgray;
  min-height: 100vh;
  padding-top: 6%;
  display: flex;
}

.digital-icon {
  height: 100% !important;
  margin-right: 30px;
  /* background-color: beige; */
  /* background-color: rgb(158, 154, 148); */
}

.digital-title {
  display: flex;
  /* justify-digital: center; */
  height: 20vh;
  width: 100vw;
  /* background-color: lavenderblush; */
}

.digital-page {
  /* width: 80%; */
  /* box-shadow: 2px 0px 5px black;
    background-color: thistle; */
  padding: 3%;
  /* max-height: 100vh; */
}

.digital-body {
  display: flex;
  margin-left: 3%;
  margin-right: 10%;
}

.digital-text {
  /* background-color: lavenderblush; */
  padding: 3%;
}

.digital-img {
  box-shadow: 3px 3px 10px black;
}
