.career-opening-root {
  padding-top: 1%;
  padding-bottom: 3%;
  /* background-color: lightpink; */
  /* min-height: 100vh; */
}
.career-opening-root-mob {
  padding-top: 1%;
  padding-bottom: 3%;
  /* background-color: lightpink; */
  min-height: 100vh;
}

.career-opening-margin {
  width: 65%;
  /* background-color: darkgreen; */
  margin: auto;
}

.career-opening-title {
  padding: 2%;
  text-align: center;
  /* background-color: navajowhite; */
}

.career-opening-card {
  background-color: lightgrey !important;
  margin: 2%;
  box-shadow: 2px 2px 10px black;
  padding: 2%;
}
.career-opening-card-mobile {
  background-color: lightgrey !important;
  margin: 2%;
  box-shadow: 2px 2px 10px black;
  padding: 2%;
}

.career-opening-card-reqs {
  display: flex;
  /* background-color: lightpink; */
}
.career-opening-card-reqs-mobile {
  /* display: flex; */
  /* background-color: lightpink; */
}

.career-opening-card-btn {
  margin-left: auto;
  /* background-color: lightpink !important;
    transform: translateX(334px); */
}
.career-opening-card-btn-mobile {
  margin-left: auto;
  /* background-color: lightpink !important;
    transform: translateX(334px); */
}

@font-face {
  font-family: 'bukra-bold';
  src: local('bukra-bold'),
    url(../../../../fonts/bukra-bold.OTF) format('truetype');
}

@font-face {
  font-family: 'bukra-regular';
  src: local('bukra-regular'),
    url(../../../../fonts/bukra-regular.OTF) format('truetype');
}

.bukra-bold {
  font-family: 'bukra-bold' !important;
}

.bukra-regular {
  font-family: 'bukra-regular' !important;
  line-height: 150% !important;
}

.lspacing {
  line-height: 150% !important;
}
