.landing-root {
  padding: 3%;
}
.landing-mob-root {
  padding: 2%;
}
.ewings-landing-grid {
  width: 70%;
  margin: auto;
  padding: 1%;
}
.ewings-height {
  min-height: 100vh;
}
.ewings-landing-root {
  min-height: 100vh;
  position: relative;
  background-color: #4694d6 !important;
}
.ewings-landing-root-mob {
  min-height: 100vh;
  position: relative;
  background-color: #4694d6 !important;
}
.ewings-landing-mob-grid {
  width: 100%;
  margin: auto;
  padding: 2%;
}
.landing-mob-title {
  text-align: center;
}
.landing-outline-grid {
  display: flex;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  height: 100%;
}
.landing-outline-grid-mob {
  width: 100%;
  height: 100%;
}
.landing-grid-div {
  display: flex;
  padding-top: 3vh !important;
  padding-bottom: 3vh !important;
}
.ewings-course-fab {
  position: sticky;
  top: 100vh;
  left: 100vw;
  background-color: #95db30;
  z-index: 999;
  margin-right: 2vw;
  width: 10vw;
  margin-bottom: 2vw;
  border-style: hidden;
  height: 5vh;
  animation-duration: 1.2s;
  animation-name: slidein;
  transition: 0.2s;
  
}
.ewings-course-fab:hover{
  width: 20vw;
 }
.ewings-course-fab-mob {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 100vh !important;
  left: 100vw !important;
  background-color: #95db30;
  z-index: 999;
  margin-right: 4vw;
  width: 20vw;
  margin-bottom: 8vh;
  border-style: hidden;
  animation-duration: 1.2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(0);
  }
}
.landing-grid-div-outline-mob {
  display: flex;
  margin-top: 3vh !important;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: white;
  margin-bottom: 3vh !important;
}
.landing-grid-div-outline {
  display: flex;
  margin-top: 3vh !important;
  padding-top: 12vh;
  padding-bottom: 12vh;
  background-color: white;
  margin-bottom: 3vh !important;
}
.course-header {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1%;
  margin-bottom: 1% !important;
  font-size: 3vw !important;
}
.course-header-mob {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1%;
  margin-top: 2% !important;
  margin-bottom: 1% !important;
  font-size: 4vw !important;
}
.landing-grid-img-base {
  width: 40%;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-mob-grid-img-base {
  width: 100%;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-mob-trainer-img-base {
  width: 100%;
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
.landing-grid-text {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-desc-text {
  /* background-color: yellowgreen; */
  width: 100%;
  /* margin-left: 1% !important; */
  /* margin-right: 1%; */
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.training-desc-text-mob {
  /* background-color: yellowgreen; */
  width: 100%;
  /* margin-left: 1% !important; */
  /* margin-right: 1%; */
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.training-desc-text {
  /* background-color: yellowgreen; */
  width: 100%;
  /* margin-left: 1% !important; */
  /* margin-right: 1%; */
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.landing-grid-text-dates {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
}
.landing-grid-img {
  box-shadow: 2px 2px 10px black;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  max-height: 30vh;
  object-fit: cover;
}

.training-outlines-img-base {
  width: 40%;
  /* background-color: orange; */

  /* height: fit-content !important; */
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  justify-content: center;
}
.training-outlines-img-base-mob {
  width: 70%;
  margin: auto;
  /* background-color: orange; */

  /* height: fit-content !important; */
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  justify-content: center;
}
.training-outlines-img {
  height: 100%;
  /* object-fit: cover; */
}
.training-desc-img-base {
  width: 50%;
  /* height: fit-content !important; */
  text-align: center;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: yellow; */
}
.training-desc-img-base-mob {
  width: 80%;
  background-color: rosybrown;
  margin: auto;
  /* height: fit-content !important; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.training-desc-img {
  /* box-shadow: 2px 2px 10px black; */
  /* padding: 1%; */
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  /* max-height: 30vh; */
  /* height: auto; */
  /* background-color: red !important; */
  /* object-fit: cover; */
  /* width: 100%; */
}
.training-desc-img-mob {
  /* box-shadow: 2px 2px 10px black; */
  /* padding: 1%; */
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  /* max-height: 30vh; */
  /* height: auto; */
  /* background-color: red !important; */
  /* object-fit: cover; */
  width: 100%;
}

.landing-grid-info {
  background-color: darkslategray;
  color: white;
  border-radius: 10px;
  padding: 1%;
  margin: 1%;
  box-shadow: 2px 5px 10px black;
}
.landing-grid-button {
  padding: 1%;
  margin: 1%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}

.ewings-course-booking-text {
  /* background-color: tomato; */
  /* background-color: blueviolet; */
  display: flex;
  width: 33.3%;
  flex-direction: column;
  justify-content: center;
}

.course-schedule {
  /* padding: 1%; */
  /* margin: 1%; */
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  /* background-color: tomato; */
}
.course-schedule-mob {
  /* padding: 1%; */
  /* margin: 1%; */
  /* display: flex; */
  width: 100%;
  /* justify-content: space-between; */
  /* background-color: tomato; */
}
.ewings-course-weekday {
  /* background-color: white; */
  /* float: left !important; */
  /* width: 100% !important; */
}
.ewings-course-schedule-date {
  display: inline-block;
  /* min-width: 10vw; */
  border-left: 2px solid white;
  /* max-width: 10vw; */
  /* background-color: white; */
  /* box-shadow: 2px 2px 10px black; */
  padding: 2%;
  margin: auto;
  text-align: center;
}
.landing-mob-course-schedule-date-mob {
  display: inline-block;
  width: 100%;
  /* background-color: white; */
  color: white;
  /* box-shadow: 2px 2px 10px black; */
  /* padding: 2%; */
  margin: 1%;
  text-align: center;
}
.course-schedule-dates-grid {
  text-align: center;
}

.course-trainer-grid-photo {
  display: flex;
  justify-content: center;
}

.course-trainer-grid-info {
  padding: 1%;
  margin: 1%;
}

.course-trainer-avatar-base {
  margin: 1%;
  padding: 1%;
  width: 100%;
  max-height: 25vh;
  object-fit: contain;
  /* background-color: tomato; */
  text-align: center;
}
.course-trainer-avatar {
  /* width: 50%; */
  max-height: 20vh;
  margin: auto;
  border-radius: 100%;
  box-shadow: 2px 5px 10px black;
}

.course-trainer-qualification {
  background-color: white;
  padding: 1%;
  margin: 1%;
  box-shadow: 2px 2px 10px black;
}

.landing-modal {
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing-mob-grid-btn-base {
  padding: 1%;
  background-color: yellowgreen;
}
.landing-grid-btn-base-left {
  padding: 1%;
  text-align: left;
}
.landing-grid-btn-base-right {
  padding: 1%;
  text-align: right;
}
.landing-grid-btn-base {
  padding: 1%;
  text-align: center;
}

.landing-grid-btn {
  width: 30%;
  box-shadow: 2px 2px 10px black;
}
.landing-mob-grid-btn {
  width: 50%;
  box-shadow: 2px 2px 10px black;
}
.landing-grid-btn-center {
  width: 30%;
  height: 100px;
  box-shadow: 2px 2px 10px black;
}

@font-face {
  font-family: "bukra-bold";
  src: local("bukra-bold"),
    url(../../../fonts/bukra-bold.OTF) format("truetype");
}

@font-face {
  font-family: "bukra-regular";
  src: local("bukra-regular"),
    url(../../../fonts/bukra-regular.OTF) format("truetype");
}

.bukra-bold {
  font-family: "bukra-bold" !important;
}

.bukra-regular {
  font-family: "bukra-regular" !important;
  line-height: 150% !important;
}

.ewings-green-color {
  color: #95db30 !important;
}
.ewings-white-color {
  color: #fff !important;
}

.ewings-course-text {
  color: white !important;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 1.4vw;
}
.ewings-course-text-mob {
  color: white !important;
  word-wrap: break-word;
  /* background-color: rosybrown; */
  /* white-space: pre-line; */
  font-size: 3.4vw;
}
.ewings-course-text-outline {
  color: white !important;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 1.4vw;
}
.ewings-course-text-outline-mob {
  color: white !important;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 1.8vh;
}

.ewings-course-booking-info {
  color: white !important;
  word-wrap: break-word;
  white-space: pre-line;
  font-size: 1.1vw;
  
}

.ewings-subtitle {
  /* background-color: maroon; */
  font-size: 1.8vw !important;
}
.ewings-subtitle-mob {
  /* background-color: maroon; */
  font-size: 4vw !important;
}

.ewings-course-list-seperator {
  background-color: white;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.training-methodology-row {
  background-color: #95db30;
  padding: 2.28vw;
  display: flex;
  justify-content: center;
}

.training-methodology-img-base {
  /* background-color: red; */
  width: 30%;
  border-right: 5px solid white;
  text-align: center;
  /* transform: translateY(-42.5%); */
}
.training-methodology-img-base-mob {
  background-color: yellowgreen;
  width: 80%;
  /* height: ; */
  margin: auto;
  /* border-right: 5px solid white; */
  text-align: center;
  /* transform: translateY(-42.5%); */
}

.training-methodology-img-mob {
  /* position: absolute; */
  /* background-color: red; */
  /* bottom: 0%; */
  /* display: none; */
  box-shadow: 0px 24px 5px -24px white;
  transform: translateY(-20%);
  width: 100%;
  /* border: 1px solid red; */
  margin: auto !important;
}
.training-methodology-img {
  position: absolute;
  /* background-color: red; */
  /* bottom: 0%; */
  /* display: none; */
  transform: translate(-80%, -40%);
  width: 17%;
  /* border: 1px solid red; */
  margin: auto !important;
}
.training-methodology-img-mask {
  position: absolute;
  /* background-color: blue; */
  /* bottom: 0%; */
  /* display: none; */
  /* border: 1px solid blueviolet; */
  transform: translate(-80%, -41%);
  width: 17%;
  margin: auto !important;
}
.training-methodology-seperator {
  /* height: 100%; */
  margin-top: 4%;
  margin-bottom: 4%;
}
.training-methodology-seperator-mob {
  /* height: 100%; */
  background-color: white;
  width: 50%;
  /* margin: auto !important; */
  position: absolute;
  transform: translate(27.5%, -10.5vh);
  /* font-size: 3vw !important; */
  /* margin-top: 4%;
  margin-bottom: 4%; */
}

.training-methodology-text {
  width: 48%;
  /* height: fit-content !important; */
  /* background-color: aqua; */
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.training-methodology-text-mob {
  width: 100%;
  /* height: fit-content !important; */
  /* background-color: aqua; */
  /* padding-left: 20px; */
  transform: translateY(-30%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ewings-blue-color {
  color: #4693d5 !important;
}
.course-meet-trainer {
  background-color: white;
  margin: auto;
  padding: 3%;
  border-radius: 15px;
}
.course-meet-trainer-title {
  text-align: center;
  font-size: 1.4vw;
  color: #4693d5 !important;
}
.course-meet-trainer-title-mob {
  text-align: center;
  font-size: 3.4vw;
  color: #4693d5 !important;
}

.ewings-course-info {
  /* background-color: orange; */
  /* display: flex; */
  width: 66.7%;
  display: flex !important;
  /* justify-content: space-between !important; */
}
