.courses-list-root {
    /* background-color: aquamarine; */
    padding: 1% !important;
    width: 75%;
    height: 100vh;
    margin: auto;
}

.course-list-img{
    /* background-color: blue; */
    margin: auto !important;
    /* width: 85%; */
    height: 30vh;
    max-width: 85%;
    object-fit: cover;
    box-shadow: 1px 1px 5px black;
    /* margin: 2%; */
}

.course-list-left{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: brown; */
}

.course-list-right{
    padding: 1%;
    /* text-align: center; */
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.course-list-right-mob{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
    /* background-color: chartreuse; */
}
.course-title-size-mob{
    font-size: 4vw;
}

.course-list-desc{
    /* background-color: chocolate; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 1.2vw !important;
    /* margin-bottom: 10%; */

}
.course-list-desc-mob{
    /* background-color: chocolate; */
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 2.4vw !important;
    margin-top: 7%;

}
.course-title-size{
    /* background-color: crimson; */
    font-size: 2vw;
}
.course-list-row {
    /* background-color: coral; */
    margin-top: 2vh;
    max-height: 25vh;
}
.course-list-btn-mob{
    font-size: 3vw;
    height: 25%;
    /* background-color: red !important; */
}
.course-list-btn{
    width: fit-content;
    margin-right: auto;
    /* width: 30%; */
    /* height: 25%; */
    /* background-color: red !important; */
}