.ewings__mediaPlanning__body__ball__img__top-right {
  width: 10%;
  margin-left: auto !important;
  display: flex;
}

.ewings__mediaPlanning__body__ball__img__bottom-left {
  width: 10%;
  /* margin-left: auto !important; */
  /* display: flex; */
}

.ewings__media__banner__img {
  width: 100%;
  min-height: 420px;
  object-position: 50% 50%;
  /* justify-content: end; */
  object-fit: cover;
}
