.partners__root {
  /* background-color: whitesmoke; */
  background-color: #f8fafb;
}
.partners__divider {
  background-color: black;
  height: 1px;
  width: 60%;
  margin: auto;
  margin-top: 10vmin;
  margin-bottom: 6vmin;
}
.partners__body {
  /* background-color: blue; */
  width: 75%;
  margin: auto;
}
.partners__body__subtitle {
  font-family: "bukra-bold" !important;
}
.partners__body__subtitle--size {
  font-size: 20px !important;
}
.partners__body__text {
  font-family: "bukra-regular" !important;
}
.partners__body__text--size {
  font-size: 14px !important;
}
.partners__sig {
  /* background-color: blue; */
  display: flex;
  margin-top: 7vmin;
  padding-bottom: 10vmin;
}
.partners__sig__heading--size {
  font-size: 18px !important;
}
.partners__sig__text--size {
  font-family: "bukra-regular" !important;
  font-size: 14px !important;
}

@media screen and (min-width: 400px) {
  .partners__body__subtitle--size {
    font-size: 24px !important;
  }
  .partners__body__text--size {
    font-size: 16px !important;
  }
  .partners__sig__heading--size {
    font-size: 20px !important;
  }
  .partners__sig__text--size {
    font-family: "bukra-regular" !important;
    font-size: 16px !important;
  }
}
@media screen and (min-width: 800px) {
  .partners__body__subtitle--size {
    font-size: 26px !important;
  }
  .partners__body__text--size {
    font-size: 18px !important;
  }
  .partners__sig__heading--size {
    font-size: 22px !important;
  }
  .partners__sig__text--size {
    font-family: "bukra-regular" !important;
    font-size: 18px !important;
  }
}
@font-face {
  font-family: "bukra-bold";
  src: local("bukra-bold"),
    url(../../../../fonts/bukra-bold.OTF) format("truetype");
}
@font-face {
  font-family: "bukra-regular";
  src: local("bukra-regular"),
    url(../../../../fonts/bukra-regular.OTF) format("truetype");
}
