.nav-dmap-root {
    background-color: white;
    box-shadow: 1px 1px 5px #393938 !important;
    padding-left: 1%;
    padding-right: 1%;
    display: flex !important;
    /* min-width: 100%; */
    max-height: 100px;
    color: black;
    position: sticky !important;
    top: 0;
    z-index: 5;
}

.nav-dmap-root-mob {
    z-index: 5;
    background-color: white;
    box-shadow: 1px 1px 5px #393938 !important;
    padding-left: 1%;
    padding-right: 1%;
    display: flex !important;
    height: 70px;
    color: black;
    position: sticky !important;
    top: 0;
}

.nav-dmap-logo {
    margin-left: 3% !important;
    margin-right: 4% !important;
    align-items: center;
    display: flex;
    justify-content: center;
    /* background-color: aqua; */
    /* width: 70%; */
    max-height: 45px !important;
    /* height: 100%; */
}

.nav-dmap-left {
    /* background-color: chocolate; */
    width: 40%;
}

.nav-dmap-center {
    /* background-color: navy; */
    width: 40%;
    display: flex;
    justify-content: center;
}

.nav-dmap-right {
    /* background-color: orange; */
    width: 30%;
    display: flex;
    height: 100%;
    margin-left: auto;
}

.nav-dmap-right-mob {
    /* background-color: orange; */
    width: 80%;
    display: flex;
}

.gallery-tab {
    /* background-color: skyblue; */
    border-left: 3px solid skyblue;
    padding-left: 30px;
}

.nav-ewings-bmc-tab {
    /* margin-left: auto; */
    /* background-color: yellow; */
    border-left: 3px solid skyblue;
    /* padding: 1%; */
    /* padding-right: 30px; */
    /* max-height: 80px; */
    /* max-width: 100px; */
    /* text-align: center; */
}

.nav-logo-img-bmc {
    /* margin: auto; */
    /* margin-left: 10px; */
    /* margin-right: 20px; */
    max-height: 78px !important;
    /* background-color: skyblue; */
    /* max-width: 100% !important; */
}

.nav-bar-skyblue {
    color: skyblue !important;
    /* background-color: slategrey; */
}

.navbar-logo {
    display: inline !important;
    padding: 25% !important;
    margin: 10% !important;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: lightgreen !important;
}

.title {
    color: black;
    /* background-color: aqua; */
    margin-right: 2%;
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
}

/* .btn-link {
    color: black !important;

} */

#dropdown-basic::after {
    display: none;
}


@font-face {
    font-family: 'bukra-bold';
    src: local('bukra-bold'), url(../../fonts/bukra-bold.OTF) format('truetype');
}

@font-face {
    font-family: 'bukra-regular';
    src: local('bukra-regular'), url(../../fonts/bukra-regular.OTF) format('truetype');
}

@font-face {
    font-family: 'bukra-medium';
    src: local('bukra-medium'), url(../../fonts/bukra-medium.OTF) format('truetype');
}

.bukra-bold {
    font-family: 'bukra-bold' !important;
}

.bukra-regular {
    font-family: 'bukra-regular' !important;
}

.bukra-medium {
    font-family: 'bukra-medium' !important;
}

.line-spacing {
    line-height: 150% !important;
}